<phpunit colors="true">
    <testsuites>
        <testsuite name="FactorioItemBrowser\Api\Client">
            <directory>tests/src</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>